<div class="container" *ngIf="this.uiNav.viewCreateAccount === true">
    <h4 class="center">Enter a Username</h4>
    <mat-form-field appearance="fill" class="input">
      <mat-label>Username</mat-label>
      <input matInput [(ngModel)]="userName" />
    </mat-form-field>

    <h4 class="center">Enter a Password</h4>
    <mat-form-field appearance="fill" class="input">
      <mat-label>Password</mat-label>
      <input type="password"matInput [(ngModel)]="userPassword" />
    </mat-form-field>

    <div class="center">
      <button
      mat-raised-button
      color="primary"
      class="button"
      (click)="
        uiUser.validateUserCreation(
          userName,
          userPassword)
      "
    >
      Create Account
    </button>

    <button
      mat-raised-button
      color="primary"
      class="button"
      (click)="cancelToLogin()"
    >
      Return to Login
    </button>
  </div>
</div>

